header{
	margin-bottom: 4% !important;
}

input{
	padding-left: 2% !important;
}

h1{
	padding-bottom: 2% !important;
	color:grey;
}

.brand-logo > img{
	max-height: 64px !important;
	padding: 6% 0 !important;
}

.close{
    padding: 1% 1%;
    margin-right: 1%;
    margin-top: 1%;
}

hr{
    margin: 6% 0;
}